<div class="products">
    <div class="product__thumbnail product__thumbnail--{{this.urlPath}}"></div>
    <div class="product__details">
        <h2 class="product__title">{{product.title}}</h2>
        <div class="product__price">${{product.price}}</div>
        <div class="product__rating">
            Rating: {{product.rating}}
        </div>
        <a href="/products/{{this.urlPath}}" class="product__reviews">{{this.commentCount}} comments</a> {{!--{{/if}}--}}
        <div class="product__buttons">
            <button class="button button--primary">Buy</button>
        </div>
    </div>
</div>
